

 .main{
    /* border: 1px solid red; */
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }

.grid-box{
    border : 1px solid black;
    margin-top: 20px;
    width: 80%;
    border-radius: 4%;
    margin: auto;
}
.imgDiv{
    width: 70%;
}